/.env
/.idea
/.vscode
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/vendor
.DS_Store
Thumbs.db
